# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDE configurations
.vscode/
.idea/

# Distribution & Packaging
build/
dist/
*.egg-info/

# LaTeX auxiliary & temporary build files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.idx
*.ind
*.ilg
*.dvi
*.xdv
*-eps-converted-to.pdf

